Flask==3.0.2
flatbuffers==23.5.26
imageio==2.34.0
importlib-metadata==7.0.1
keras==2.15.0
numpy==1.26.4
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
